tensorflow
tf-keras
pandas
numpy
joblib
types-PyYAML
scipy
gdown
fastapi
uvicorn
python-multipart
ensure
python-box
scikit-learn
python-dotenv
transformers<5.0.0
safetensors<0.5.0
huggingface-hub
xgboost
langchain
langchain-groq
langchain-community
duckduckgo-search
feedparser
praw
sqlalchemy
alembic
psycopg2-binary
pydantic-settings
mlflow
matplotlib
seaborn
-e .